.row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #eee;
}

.row span:first-child {
    font-weight: 700;
    font-size: 17px;
    color: var(--text-light);
}

.row span:last-child {
    font-weight: 700;
    font-size: 17px;
    color: var(--text-dark);
    text-align: right;
}

.title {
    font-weight: 700;
    font-size: 17px;
    color: var(--text-dark);
    margin: 15px;
}

.rowEpisode {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #eee;

    font-weight: 700;
    font-size: 17px;
    color: var(--text-light);
}

.image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 10px solid #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.errorMessage {
    margin: 15px;
    font-weight: 700;
    font-size: 17px;
    color: var(--text-emphasis);
    text-align: center;
}

.loadingIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 8px;
    animation: fadeIn 0.8s ease-in;

    font-weight: 700;
    font-size: 17px;
    color: var(--text-light);
}

.loadingIcon img {
    width: 32px;
    height: 32px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}