:root {
    font-family: SF Pro Display, Arial;
    line-height: 100%;
    letter-spacing: 1.25%;
    vertical-align: middle;

    --ravn-black-color: #121212;
    --text-dark: #333333;
    --text-light: #828282;
    --text-emphasis: #EC5757;
    --white-color: #FFFFFF;
    --black-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}